@using EntityLayer.Concrete
@model List<AppUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <h5 class="card-header">Kullanıcı Listesi  </h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>#</th>
                    <th>İSİM SOYİSİM</th>
                    <th>KULLANICI ADI</th>
                    <th>E-POSTA</th>
                    <th>güncelle</th>
                    <th>sil</th>
                </tr>
            </thead>

            <tbody class="table-border-bottom-0 text-center">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td> <strong>@item.Name @item.Surname</strong></td>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>

                        <td>
                            <a class="btn btn-warning" href="/Admin/User/EditUser/@item.Id"><i class="bx bx-edit-alt me-1"></i> Güncelle</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="/Admin/User/DeleteUser/@item.Id"><i class="bx bx-trash me-1"></i> Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a href="/Login/SingUp/" class="btn btn-outline-primary">Yeni Kullanıcı Oluştur!</a>
</div>


